<!DOCTYPE html>
<html>
  <head>
    <title>UnifaTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/topnav" %>
    <% if flash[:error] %>
      <div class="errors"><%= flash[:error] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
